/*
Чтобы строки подсвечивались целиком,
следите за приоритетами селекторов или
можете удалять селекторы после подсветки каждой строки.
*/
li:first-child {
    background-color: #ff3300;
  }
  li:nth-child(n+1) {
    background-color: #339933;
  }