html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  min-width: 550px;
  min-height: 250px;
  padding: 10px;
}

.cards {
  position: relative;
  width: 380px;
  text-align: left;
}

.cards li {
  width: 37px;
  height: 55px;
}

.cards li::before {
  font-family: "Courier", monospace;
}

li:not(:first-of-type) {/*кроме первых li  в каждом ul*/
margin-left: -20px;
}

ul::after { /*добавляет ul в конце всех ul*/
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 37px;
  height: 55px;
  border: 1px dashed #33bb33;
  border-radius: 5px;
}

li:nth-of-type(4n-3) { /*каждый 4-й li красится в желтый */
  background-color: #ffcc33;
}

ul:not(:first-of-type) li:nth-of-type(4n-2) {
  /*каждый 4-й li начиная со втрого, во всех ul кроме первого */
  background-color: #0099ff;
}

ul:nth-of-type(2n) li:nth-of-type(4n) {
  /*каждый 4-й li начиная со второго ul*/
  background-color: #ff3300;
}

ul:nth-of-type(3) li:nth-of-type(3n+8) {
  /*8-й и 11-й li в 3 ul с начала*/
  background-color: #339933;
}

ul:first-of-type li:nth-of-type(2n) {
  /*каждый 2-й li в первом ul*/
  background-color: #996666;
}
