div {
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #468847;
    border: 1px solid #d6e9c6;
  }
  
  .left-column {
    width: 50%;
    min-height: 100px;
    float: left;
    background-color: #fcf8e3;
  }
  
  .right-column {
    width: 25%;
    min-height: 100px;
    float: right;
    background-color: #d9edf7;
  }
  
  .footer {
    clear: both;
  }
  